/* reset */
a:focus,
a:active {
  outline: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

/*main*/

img {
  width: 100%;
}
body {
  margin: 0;
  background-color: #1d1b1b;
  font-family: "Montserrat", sans-serif;
  display: grid;
  color: #b7b05e;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
  justify-items: center;
  height: 100vh;
  align-content: center;
}
.logo img {
  max-width: 200px;
}
.social-box {
  display: flex;
  gap: 15px;
}
.social-box img {
  max-width: 30px;
  border-radius: 10px;
  margin-left: 10px;
}
@media (max-width: 460px) {
  .social-box img {
    max-width: 30px;
    border-radius: 50%;
  }
  .social-box a {
    margin-left: 5px;
  }
}
